body {
    /*margin: 0;*/
    /*line-height: normal;
  }
  
  :root {
    /* fonts */
    --font-montserrat: Montserrat;
  
    /* font sizes */
    --font-size-xl: 20px;
    --font-size-5xl: 24px;
    --font-size-7xl: 26px;
    --font-size-47xl-1: 66.1px;
    --font-size-40xl-1: 59.1px;
  
    /* Colors */
    --color-white: #fff;
    --color-black: #000;
    --color-darkorange-100: #f06c00;
    --color-darkorange-200: rgba(240, 108, 0, 0.7);
    --color-blueviolet: #9747ff;
  
    /* Border radiuses */
    --br-11xl: 30px;
    --br-8xs: 5px;
    --br-21xl: 40px;
  }
  