.table-region {
  width: 100%;
  border-collapse: collapse;
}
.table-region th,
.table-region td {
    border: 1px solid #ddd;
    padding: 6px; 
    font-size: 12px; 
}

.table-region th {
  background-color: #ffc04d;
}

.table-region th a {
    text-decoration: none;
    color: #000;
}

.table-region th a:hover {
    color: blue;
}
.header-row {
    background-color: #ffc04d; 
}
.table-region th:not(:first-child),
.table-region td {
    background-color: rgba(240, 240, 240, 0.3); 
}
.frame-child43,
.group-28-13 {
  position: absolute;
  top: 0;
  left: 0;
}
.group-28-13 {
    position: absolute;
    top: 0;
    left: 0;
    width: 1490px;
    height: 990px;
    object-fit: cover;
}
.frame-child43 {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  border-radius: var(--br-11xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.traitement-de-linformation-2-icon9 {
  position: absolute;
  top: 9.8px;
  left: 9px;
  width: 31px;
  height: 31px;
  object-fit: cover;
}
.traitement-mansuelle8 {
  position: absolute;
  top: 17px;
  left: 40px;
  font-weight: 500;
}
.traitement-de-linformation-2-parent6 {
  position: absolute;
  height: 14.75%;
  width: 72.83%;
  top: 15.16%;
  right: 14.72%;
  bottom: 70.09%;
  left: 12.45%;
  border-radius: var(--br-11xl);
  background-color: var(--color-darkorange-400);
  overflow: hidden;
  font-size: var(--font-size-smi);
}
.affichage-bilan5 {
  margin: 0;
}
.affichage-bilan-par-container5 {
  position: absolute;
  top: 4.9px;
  left: 50.8px;
  font-weight: 500;
}
.bilan-2-icon9 {
  position: absolute;
  top: 4.9px;
  left: 12.8px;
  width: 35px;
  height: 33px;
  object-fit: cover;
}
.affichage-bilan-par-primetre-parent3 {
  position: absolute;
  height: 14.29%;
  width: 72.83%;
  top: 33.24%;
  right: 14.72%;
  bottom: 52.48%;
  left: 12.45%;
  border-radius: var(--br-11xl);
  background-color: var(--color-darkorange-400);
  overflow: hidden;
}
.affichage-annuel25 {
  position: absolute;
  top: 16px;
  left: 57px;
  font-weight: 500;
}
.traitement-de-linformation-1-icon17 {
  position: absolute;
  top: 11px;
  left: 19px;
  width: 32px;
  height: 27px;
  object-fit: cover;
}
.affichage-annuel-parent18 {
  position: absolute;
  height: 13.99%;
  width: 75.09%;
  top: 53.06%;
  right: 14.72%;
  bottom: 32.94%;
  left: 10.19%;
  border-radius: var(--br-11xl);
  background-color: var(--color-darkorange-400);
  overflow: hidden;
  color: var(--color-white);
}
.dashboard21 {
  position: absolute;
  top: 13px;
  left: 72px;
  font-weight: 500;
}
.tabelu-de-bord-211 {
  position: absolute;
  top: 3px;
  left: 16px;
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.dashboard-parent15 {
  position: absolute;
  height: 12.54%;
  width: 76.98%;
  top: 72.59%;
  right: 12.83%;
  bottom: 14.87%;
  left: 10.19%;
  border-radius: var(--br-11xl);
  background-color: var(--color-darkorange-400);
  overflow: hidden;
  color: var(--color-white);
}
.menu29 {
  position: absolute;
  height: 8.89%;
  width: 28.68%;
  top: 2.8%;
  left: 38.11%;
  font-size: var(--font-size-xl);
  display: inline-block;
  color: var(--color-darkorange-300);
}
.frame-child44,
.frame-child45 {
  position: absolute;
  height: 0.29%;
  width: 17.55%;
  top: 7.26%;
  right: 15.66%;
  bottom: 92.45%;
  left: 66.79%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  background-color: var(--color-darkorange-300);;
}
.frame-child45 {
  width: 16.83%;
  right: 68.11%;
  left: 15.06%;
}
.page-p1-inner,
.vector-parent16 {
  position: absolute;
  top: 0;
  left: 0;
  width: 265px;
  height: 343px;
  background-color:white ;
  border-radius: var(--br-11xl);
}
.page-p1-inner {
  top: 301px;
  left: 45px;
  font-size: var(--font-size-sm);
  display: flex;
  justify-content: space-between;
}
.rectangle-parent2 select:focus {
    box-shadow: 0 0 0 2px #ffa500;
  }
  
.rectangle-parent2 select option {
    padding: 0.5em;
  }
  
.rectangle-parent2 select option.option {
    background-color: #fff;
    /*color: #333;*/
  }
  
.rectangle-parent2 select option.option:checked {
    background-color: #ffa500;
    color: #fff;
  }
  
.rectangle-parent2 select option.option:checked:focus {
    background-color: #ffa500;
    color: #fff;
  }
  
.rectangle-parent2 select option.option:hover {
    background-color: #fff;
    color: #ffa500;
  }
  
.rectangle-parent2 select option.option:hover:focus {
    background-color: #fff;
    color:#ffa500;
  }
.retour9 {
  position: relative;
}
.acceuil26 {
  position: absolute;
  top: 35px;
  left: 90%;
  border-radius: var(--br-11xl);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 137px;
  height: 47px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  color: var(--color-white);
  text-decoration: none;
}
.rectangle-7-94 {
  position: absolute;
  top: 96px;
  left: 456px;
  width: 1200px;
  height: 5px;
  object-fit: cover;
  background-color: white;
}
.page-p1-child {
  position: absolute;
  top: 511px;
  left: 534px;
  width: 100px;
  height: 100px;
  overflow: hidden;
}
.page-p1-item {
  position: absolute;
  top: 115px;
  left: 326px;
  background-color: var(--color-gainsboro-300);
  width: 1150px;
  height: 526px;
}
.group-child24 {
  position: absolute;
  height: 100%;
  width: 44.63%;
  top: 0;
  right: 55.37%;
  bottom: 0;
  left: 0;
  border-radius: var(--br-mini);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  background-color: white;
  font-size:large;
  text-align: right;
}
.group-child25,
.icon-pdf-16 {
  position: absolute;
  border-radius: var(--br-mini);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.icon-pdf-16 {
  height: 73.59%;
  width: 17.98%;
  top: 10.29%;
  right: 79.87%;
  bottom: 16.12%;
  left: 2.16%;
  object-fit: cover;
}
.group-child25 {
  height: 100%;
  width: 44.63%;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  left: 55.37%;
  font-size:large;
  text-align: center; /* Align text to the center */
  padding-left: 30px; 
}
.excel13,
.icon-excel-16 {
  position: absolute;
  height: 70.68%;
}
.icon-excel-16 {
  width: 17.26%;
  top: 14.76%;
  right: 25.22%;
  bottom: 14.56%;
  left: 57.53%;
  border-radius: var(--br-mini);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.excel13 {
  width: 23.78%;
  top: 29.51%;
  left: 74.78%;
  font-weight: 500;
  display: inline-block;
}
.vector-parent17 {
  position: absolute;
  height: 6.87%;
  width: 19.31%;
  top: 90.8%;
  right: 5.31%;
  bottom: 2.33%;
  left: 75.37%;
  font-size: var(--font-size-mini);
  color: var(--color-black);
}
.frame-child46,
.frame-child47 {
  position: absolute;
  top: 4px;
  left: 128px;
  border-radius: var(--br-mini);
  /*background-color: var(--color-gainsboro-100);*/
  border: 1px solid var(--color-darkorange-300);
  /*box-sizing: border-box;*/
  width: 92px;
  height: 35px;
}
.frame-child47 {
  left: 18px;
}
.frame-child48 {
  position: absolute;
  top: 7px;
  left: 238px;
  width: 29px;
  height: 29px;
  overflow: hidden;
  object-fit: cover;
  display: flex;
  justify-content:center;
}
.frame-child49{
  position: absolute;
  top: 7px;
  left: 238px;
  width: 25px;
  height: 25px;
  overflow: hidden;
  object-fit: cover;

}
.anne11,
.mois3 {
  position: absolute;
  top: 8px;
  left: 31px;
}
.mois3 {
  top: 10px;
  left: 154px;
}
.page-p1-inner1,
.rectangle-parent2 {
  position: absolute;
  width: 284px;
  height: 44px;
}
.rectangle-parent2 {
  top: 0;
  left: 0;
  border-radius: var(--br-mini);
  background-color: var(--color-white);
  overflow: hidden;
}
.page-p1-inner1 {
  top: 148px;
  left: 26px;
  color: var(--color-darkorange-300);
}
.logo-3-icon {
  position: absolute;
  top: 38px;
  left: 30px;
  width: 99px;
  height: 77.4px;
  object-fit: cover;
}
.page-p1 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 750px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-snow-100);
  font-family: var(--font-montserrat);
}
