{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{% static 'css/global.css' %}" />
    <link rel="stylesheet" href="{% static 'css/page1.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap"
    />
  </head>
  <body>
    <div class="page1">
      <img class="page1-1-icon" alt="" src="{% static 'images/acceuil1.png'%}" />

      <div class="page1-child"></div>
      <img class="group-icon3" alt="" src="{% static 'images/logo.png'%}"  />

      <div class="group2">
        <b class="sonatrach">Sonatrach</b>
        <b class="socit-direction-de-container">
          <span>Société </span>
          <span class="direction-de">Direction De</span>
        </b>
        <b class="la-commercialisation">La Commercialisation</b>
        <b class="de-hydrocarbures">De Hydrocarbures</b>
      </div>
      

      <div class="group-parent">
        <div class="group-child" ></div>

        <div class="group-item"></div>

        <div class="group-inner"></div>

        <b class="menu1">Menu</b>
        <a class="button1default-wrapper" href="traitement_mansuel">
          <div class="button1default">
            <div class="traitement-mensuel">Traitement mensuel</div>
            <img
              class="traitement-de-linformation-1-icon"
              alt=""
              src="{% static 'images/traitement-de-linformation (1).png' %}"
            />
          </div>
        </a>
        <a class="btn2default-wrapper" href="traitement_p1">
          <div class="button1default">
            <div class="affichage-p1">Affichage P1</div>
            <div class="btn2default-child"></div>
            <img class="bilan-1-icon" alt="" src="{% static 'images/bilan.png' %}" />
          </div>
        </a>
        <a class="btn3default-wrapper" href="traitement_annuel">
          <div class="button1default">
            <div class="affichage-annuel1">Affichage Annuel</div>
            <div class="btn3default-child"></div>
            <img
              class="traitement-de-linformation-1-icon1"
              alt=""
              src="{% static 'images/traitement-de-linformation.png' %}"
            />
          </div>
        </a>
        <a class="btn4default-wrapper" href="dashboard">
          <div class="button1default">
            <div class="dashboard">Dashboard</div>
            <img
              class="bilan-1-icon"
              alt=""
              src="{% static 'images/tabelu de bord.png' %}"
            />
          </div>
        </a>
      </div>
    </div>
  </body>
</html>
