{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{% static 'css/global.css '%}" />
    <link rel="stylesheet" href="{% static 'css/login.css '%}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="login1">
      <div class="login1-inner">
        <div class="frame-parent">
          <div class="line-group">
            <div class="frame-child10"></div>

            <div class="frame-child11"></div>

            <div class="connexion1">Connexion</div>
            <form id="create-account-form" method="POST">
              {% csrf_token %}
              <div class="utilisateur-container">
                  <label class="utilisateur1" for="username">Utilisateur</label>
                  <input type="text" id="username" name="username" required class="champ-utilisateur">
              </div>
              <div class="frame-wrapper2">
                  <label class="mot-de-pass1" for="password"> Mot de passe</label>
                  <input type="password" id="password" name="password" required>
              </div>
              <button type="submit" class="se-connecter-container">
                  <div class="se-connecter1">Valider</div>
              </button>
            </form>
          </div>
          <img
            class="sonatrach-siege-2-icon"
            alt=""
            src="{% static 'images/sonatrach-siege.jpg '%}"
          />
        </div>
      </div>
    </div>
  </body>
  <script>
  const usernameField = document.getElementById('username');
const usernameLabel = document.querySelector('.utilisateur1');

const passwordField = document.getElementById('password');
const passwordLabel = document.querySelector('.mot-de-pass1');

usernameField.addEventListener('input', () => {
  toggleLabelVisibility(usernameLabel, usernameField.value);
});

passwordField.addEventListener('input', () => {
  toggleLabelVisibility(passwordLabel, passwordField.value);
});

function toggleLabelVisibility(label, inputValue = '') {
  if (inputValue.trim()) {
    label.style.display = 'none';
  } else {
    label.style.display = 'block';
  }
}


  </script>
</html>
