{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{% static 'css/newglobal.css' %}" />
    <link rel="stylesheet" href="{% static 'css//dashboard.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap"
    />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  <body>
    <div class="dashboardd">
      <img class="group-28-16" alt="" src="{% static 'images/finale_img.png'%}" />

      <div class="dashboardd-inner">
        <div class="vector-parent21">
          <a class="traitement-de-linformation-2-parent9" style="color:white;" href="traitement_mansuel">
            <img
              class="traitement-de-linformation-2-icon12"
              alt=""
              src="{% static 'images/traitement-de-linformation (1).png'%}"
            />

            <div class="traitement-mansuelle11">Traitement Mansuelle</div>
          </a>
          <a class="affichage-bilan-par-primetre-parent6"  style="color:white;" href="traitement_p1">
            <div class="affichage-bilan-par-container8">
              <p class="affichage-bilan8">Affichage Bilan</p>
              <p class="affichage-bilan8">par périmetre</p>
            </div>
            <img class="bilan-2-icon12" alt="" src="{% static 'images/bilan.png'%}" />
         </a>
          <a class="affichage-annuel-parent21" href="traitement_annuel">
            <div class="affichage-annuel28">Affichage Annuel</div>
            <img
              class="traitement-de-linformation-1-icon20"
              alt=""
              src="{% static 'images/traitement-de-linformation.png'%}"
            />
          </a>
          <a class="dashboard-parent18" href="dashboard">
            <div class="dashboard24">Dashboard</div>
            <img
              class="tabelu-de-bord-214"
              alt=""
              src="{% static 'images/tabelu de bord.png'%}" 
            />
          </a>
          <b class="menu32">Menu</b>
          <div class="frame-child62"></div>
          <div class="frame-child63"></div>
        </div>
      </div>
      <div class="acceuil29">
        <b class="retour12">Retour</b>
      </div>
      <div class="rectangle-7-97" ></div>

      <img class="logo-2-icon7" style="background-color: transparent;" alt="" src="{% static 'images/logo.png'%}" />

      <div class="dashboardd-child"></div>
      <div class="dashboardd-item"></div>
      <div class="dashboardd-child1"></div>
      <div class="dashboardd-child2">
        <canvas id="pie-chart"></canvas>
      </div>
      <div class="dashboardd-child3">
        <canvas id="bar-chart"></canvas>
      </div>
      <div class="dashboardd-child4">
        <canvas id="line-chart"></canvas>
      </div>
       <div  class="champ-commentaire-group">
          <img class="icon-user3" alt="" src="{% static 'images/icon-user.png'%}" />
          <label class="ajouter-votre-commentaire1">ajouter votre commentaire.....</label>
          <input type="text" id="commentaire" name="commentaire" required  class="champ-commentaire">
       </div>
      <div class="dashboardd-child5"></div>
      <b class="donnees1">Donnees</b>
      <form class="rectangle-parent5" id="chartForm" action="{% url 'application:get_chart_data' %}" method="POST">
        {% csrf_token %}
        <input class="frame-child64" type="date" id="dateFin" name="dateFin">
        <select class="frame-child65">
          <option class="rgion1" value="">Région</option>
          <option value="stah" class="option">Stah</option>
          <option value="adrar" class="option">Adrar</option>
          <option value="in amenass" class="option">In Amenass</option>
        </select>
         <input class="frame-child66" type="date" id="dateDebut" name="dateDebut">
         <b for="dateDebut"  class="date-dbut1">Date de début:</b>
         <b class="date-fin1">Date fin:</b>
         <button class="frame-child67" type="submit"></button>
      </form>
      </div>
    </div>
  </body>
  <script>
    const commentaireLabels = document.querySelectorAll('.champ-commentaire-group .ajouter-votre-commentaire1');
    const commentaireFields = document.querySelectorAll('.champ-commentaire-group .champ-commentaire');

    // Itérer sur tous les champs de commentaire
    commentaireFields.forEach((commentaireField, index) => {
        const commentaireLabel = commentaireLabels[index];

        // Événement lorsque le champ de commentaire reçoit le focus
        commentaireField.addEventListener('focus', () => {
            commentaireLabel.style.display = 'none';
        });

        // Événement lorsque le champ de commentaire perd le focus
        commentaireField.addEventListener('blur', () => {
            if (!commentaireField.value.trim()) {
                commentaireLabel.style.display = 'block';
            }
        });
    });

    function drawPieChart(data) {
      const ctx = document.getElementById('pie-chart').getContext('2d');
      new Chart(ctx, {
          type: 'pie',
          data: {
              labels: data.map(item => item.perimetre),
              datasets: [{
                  data: data.map(item => item.percentage),
                  backgroundColor: [
                      'rgba(255, 99, 132, 0.7)',
                      'rgba(54, 162, 235, 0.7)',
                      'rgba(255, 206, 86, 0.7)',
                      'rgba(75, 192, 192, 0.7)',
                      'rgba(153, 102, 255, 0.7)',
                      'rgba(255, 159, 64, 0.7)'
                  ],
                  borderColor: [
                      'rgba(255, 99, 132, 1)',
                      'rgba(54, 162, 235, 1)',
                      'rgba(255, 206, 86, 1)',
                      'rgba(75, 192, 192, 1)',
                      'rgba(153, 102, 255, 1)',
                      'rgba(255, 159, 64, 1)'
                  ],
                  borderWidth: 1
              }]
          },
          options: {
              title: {
                  display: true,
                  text: 'Production par périmètre'
              }
          }
      });
  }

  function drawBarChart(data) {
      const ctx = document.getElementById('bar-chart').getContext('2d');
      new Chart(ctx, {
          type: 'bar',
          data: {
              labels: data.map(item => item.mois),
              datasets: [{
                  label: 'Production',
                  data: data.map(item => item.production_mensuelle),
                  backgroundColor: 'rgba(54, 162, 235, 0.7)',
                  borderColor: 'rgba(54, 162, 235, 1)',
                  borderWidth: 1
              }, {
                  label: 'Prévision',
                  data: data.map(item => item.prevision),
                  backgroundColor: 'rgba(255, 206, 86, 0.7)',
                  borderColor: 'rgba(255, 206, 86, 1)',
                  borderWidth: 1
              }]
          },
          options: {
              title: {
                  display: true,
                  text: 'Production par périmètre et mois'
              },
              scales: {
                  y: {
                      beginAtZero: true
                  }
              }
          }
      });
  }

  function drawLineChart(data) {
      const ctx = document.getElementById('line-chart').getContext('2d');
      new Chart(ctx, {
          type: 'line',
          data: {
              labels: data.map(item => item.mois),
              datasets: [{
                  label: 'Production',
                  data: data.map(item => item.production_mensuelle),
                  backgroundColor: 'rgba(255, 99, 132, 0.7)',
                  borderColor: 'rgba(255, 99, 132, 1)',
                  borderWidth: 1
              }, {
                  label: 'Prévision',
                  data: data.map(item => item.prevision),
                  backgroundColor: 'rgba(54, 162, 235, 0.7)',
                  borderColor: 'rgba(54, 162, 235, 1)',
                  borderWidth: 1
              }]
          },
          options: {
              title: {
                  display: true,
                  text: 'Évolution de la production et prévision'
              },
              scales: {
                  y: {
                      beginAtZero: true
                  }
              }
          }
      });
  }
</script>
</html>
