{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{% static 'css/newglobal.css' %}" />
    <link rel="stylesheet" href="{% static 'css/page_acceuil.css' %}"/>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap"
    />
  </head>
  <body>
    <div class="divglobale">
      <img
        class="background"
        alt=""
        src="{% static 'images/page01 1.png'%}"
      />
      <div class="div1"></div>
      <img class="logo" alt="" src="{% static 'images/logo.png'%}" />

      <div class="menu">
        <div class="div2">
          <div class="div3" ></div>

          <a class="trait_mensuel" href="traitement_mansuel">
            <img
              class="imagem"
              alt=""
              src="{% static 'images/traitement-de-linformation (1).png'%}"
            />
            <div class="trat_mensu2" style="color:white;">Traitement Mansuelle</div>
          </a>
          <a class="afficahage" href="traitement_p1" >
            <div class="afficahage1">
              <p class="afficahagetext" style="color:white;">Affichage Bilan</p>
              <p class="afficahagetext" style="color:white;">par périmetre</p>
            </div>
            <img class="affichageimg" alt="" src="{% static 'images/bilan.png'%}" />
          </a>
          <a class="trait_annuel" href="traitement_annuel">
            <div class="trait_annuel1">Affichage Annuel</div>
            <img
              class="trait_annuel_img"
              alt=""
              src="{% static 'images/traitement-de-linformation.png'%}"
            />
          </a>
          <a class="dash" href="dashboard">
            <div class="dashboardtxt">Dashboard</div>
            <img
              class="dashboardimg"
              alt=""
              src="{% static 'images/tabelu de bord.png'%}"
            />
          </a>
          <b class="menuu">Menu</b>
          <div class="div4"></div>
          <div class="div5"></div>
        </div>
      </div>
      <div class="titre1">
        <b class="text1">Sonatrach</b>
        <b class="text2">
          <span>Société </span>
          <span class="text3">Direction De</span>
        </b>
        <b class="text4">La Commercialisation</b>
        <b class="text5">De Hydrocarbures</b>
      </div>
    </div>
  </body>
</html>
