{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{% static 'css/resultat_verifier.css'%}" /> 
    <link rel="stylesheet" href="{% static 'css/newglobal.css'%}"/>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap"
    />
  </head>
  <style>
  .div1 {
    top: 301px;
    left: 45px;
    font-size: var(--font-size-sm);
    display: flex;
    justify-content: space-between;
    color: var(--color-snow-100);
    font-family: var(--font-montserrat);
    background-color: white;
    border-radius: var(--br-11xl);
  }
  .div_icon {
  position: absolute;
  top: 80px;
  left: 500px;
  width: 45px;
  height: 45px;
  object-fit: cover;
}
.text {
  width: max-content;
  position: absolute;
  top: 40px;
  left: 100px;
  font-size: 40px;
  width: 400px;
}
</style>
  <body>

    <div class="div_global" >
      <img class="background" alt="" src="{% static 'images/nv.png'%}" />

      <div class="div1">
        <div class="div2">
          <a class="trait_m1" href="traitement_mansuel" >
            <img
              class="trait_m2"
              alt=""
              src="{% static 'images/traitement-de-linformation (1).png'%}"
            />

            <div class="trait_m3" style="color:white;">Traitement Mansuelle</div>
          </a>
          <a class="trait_p1" href="traitement_p1">
            <div class="trait_p2">
              <p class="affiche1" style="color:white;" >Affichage Bilan</p>
              <p class="affiche1" style="color:white;" >par périmetre</p>
            </div>
            <img class="trait_p3" alt="" src="{% static 'images/bilan.png'%}" />
          </a>
          <a class="trait_anneul1" href="traitement_annuel">
            <div class="trait_anneul2">Affichage Annuel</div>
            <img
              class="trait_anneul3"
              alt=""
              src="{% static 'images/traitement-de-linformation.png'%}"
            />
          </a>
          <a class="dashboard" href="dashboard">
            <div class="dashboard1">Dashboard</div>
            <img
              class="dashboard2"
              alt=""
              src="{% static 'images/tabelu de bord.png'%}" 
            />
          </a>
          <b class="menu">Menu</b>
          <div class="div3" ></div>

          <div class="div4" ></div>
        </div>
      </div>
      <a class="acceuil" href="login">
        <b class="deconnecte">se déconnecter</b>
      </a>
      <div class="div5" ></div>

      <a href="acceuil">
        <img class="logo" alt="Description de l'image" src="{% static 'images/logo.png' %}">
      </a>

      <b class="result">result</b>
      <div class="affichage_resultat">
        <div class="div6"></div>
        <div class="text" id="message-container" style="left: 100px;" ></div>
        <!--<img id="message-icon" class="div_icon" style="display: none;"> -->
      </div>
      <div class="div7">
         <b class="r">R</b>
      </div>
    </div>
    <script>
      const messageContainer = document.getElementById('message-container');
      const messageIcon = document.getElementById('message-icon');
      const message = "{{ message }}";
      const error = "{{ error }}";
      
      if (message) {
          const messageElement = document.createElement('p');
          messageElement.textContent = message;
      
          messageContainer.appendChild(messageElement);

          messageIcon.style.display = 'block';
          if (error === 'True') {
              messageElement.classList.add('error-message');
              messageIcon.src = "{% static '' %}"; 
          } else {
              messageElement.classList.add('success-message');
              messageIcon.src = "{% static '' %}"; 
          }
      }
      </script>
  </body>
</html>

