{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{% static 'css/newglobal.css' %}" />
    <link rel="stylesheet" href="{% static 'css/traitement_mansuel.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap"
    />
  </head>
  <body>
    <div class="div_globale">
      <img class="background" alt="" src="{% static 'images/ui1.png'%}" />

      <div class="div1">
        <div class="menu">

          <a class="trait_m1" href="traitement_mansuel">
            <img
              class="div2m"
              alt=""
              src="{% static 'images/traitement-de-linformation (1).png'%}"
            />
            <div class="div3" style="color:white;">Traitement Mansuelle</div>
          </a>
          <a class="affichage_p1" href="traitement_p1">
            <div class="affich">
              <p class="affich2" style="color:white;">Affichage Bilan</p>
              <p class="affich2"style="color:white;">par périmetre</p>
            </div>
            <img class="icone" alt="" src="{% static 'images/bilan.png'%}" />
          </a>
          <a class="annuel" href="traitement_annuel">
            <div class="annueltext">Affichage Annuel</div>
            <img
              class="annuelimg"
              alt=""
              src="{% static 'images/traitement-de-linformation.png'%}"
            />
          </a>
          <a class="dashboard" href="dashboard">
            <div class="dash">Dashboard</div>
            <img
              class="imgdash"
              alt=""
              src="{% static 'images/tabelu de bord.png'%}" 
            />
          </a>
          <b class="menumot">Menu</b>
          <div class="div4"></div>

          <div class="div5"></div>
        </div>
      </div>
      <form class="form" method="post" enctype="multipart/form-data" action="{% url 'application:index' %}">
        {% csrf_token %}
        <div class="input">
            <label class="label-sel">Veuillez sélectionner le fichier Excel à vérifier </label>
            <input type="file" name="excel_file" class="btn-sel">
        </div>
        <div class="img">
            <img class="icon1" alt="" src="{% static 'images/Actions-frame.png'%}" />
        </div>
        <button class="btn" type="submit" id="submitBtn">
            <b class="test">Test</b>
        </button>
    </form>
      <a class="acceuil" href="login">
        <b class="deconnecte">se déconnecter</b>
        </a>
      <div class="div6" ></div>
      <a href="acceuil">
        <img class="logo" alt="Description de l'image" src="{% static 'images/logo.png' %}">
      </a>
      <img
        class="img1"
        alt=""
        src="{% static 'images/Microsoft Excel.png'%}"
      />
    </div>
  </body>
  <script>
    const chooseFileInput = document.querySelector('.btn-sel');
   const chooseFileLabel = document.querySelector('.label-sel');
   
   chooseFileInput.addEventListener('change', () => {
     if (chooseFileInput.files.length > 0) {
       chooseFileLabel.dataset.fileName = chooseFileInput.files[0].name;
       chooseFileLabel.textContent = chooseFileInput.files[0].name;
       chooseFileInput.classList.remove('invalid');
       chooseFileInput.classList.add('valid');
     } else {
       chooseFileLabel.dataset.fileName = '';
       chooseFileLabel.textContent = 'Choisir fichier';
       chooseFileInput.classList.remove('valid');
       chooseFileInput.classList.add('invalid');
     }
   });

   document.getElementById('submitBtn').addEventListener('click', function(event) {
    const fileInput = document.querySelector('input[name="excel_file"]');

    if (!fileInput.files.length) {
        event.preventDefault();
        alert("Veuillez ajouter un fichier avant de soumettre le formulaire.");
    }
});
     </script>
</html>
