{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{% static 'css/newglobal.css' %}" />
    <link rel="stylesheet" href="{% static 'css/traitement_mansuel.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap"
    />
  </head>
  <body>
    <div class="ui2">
      <img class="group-28-11" alt="" src="{% static 'images/ui1.png'%}" />

      <div class="ui2-inner">
        <div class="vector-parent6">

          <a class="traitement-de-linformation-2-container" href="">
            <img
              class="traitement-de-linformation-2-icon3"
              alt=""
              src="{% static 'images/traitement-de-linformation (1).png'%}"
            />

            <div class="traitement-mansuelle2" style="color:white;">Traitement Mansuelle</div>
          </a>
          <a class="affichage-bilan-par-primetre-container" href="traitement_mansuel">
            <div class="affichage-bilan-par-container2">
              <p class="affichage-bilan2" style="color:white;">Affichage Bilan</p>
              <p class="affichage-bilan2"style="color:white;">par périmetre</p>
            </div>
            <img class="bilan-2-icon3" alt="" src="{% static 'images/bilan.png'%}" />
          </a>
          <a class="affichage-annuel-parent12" href="">
            <div class="affichage-annuel16">Affichage Annuel</div>
            <img
              class="traitement-de-linformation-1-icon11"
              alt=""
              src="{% static 'images/traitement-de-linformation.png'%}"
            />
          </a>
          <a class="dashboard-parent12" href="">
            <div class="dashboard18">Dashboard</div>
            <img
              class="tabelu-de-bord-25"
              alt=""
              src="{% static 'images/tabelu de bord.png'%}" 
            />
          </a>
          <b class="menu23">Menu</b>
          <div class="frame-child25"></div>

          <div class="frame-child26"></div>
        </div>
      </div>
      <form class="vector-parent7" method="post" enctype="multipart/form-data" action="{% url 'application:upload_and_test' %}" >
        {% csrf_token %}
        <div class="page2-inner">
          <label class=choose-file-label>choisir fichier</label>
         <input type="file" name="file" class="choose-file-button">
        </div>
        <div class="actions-frame">
          <img class="icon1" alt="" src="{% static 'images/Actions-frame.png'%}" />
        </div>
        <button class="rectangle-group">
          <b class="test2" type="submit">TEST</b>
        </button>
      </form>
      <a class="acceuil18" href="acceuil">
        <b class="retour1">Retour</b>
        </a>
      <div class="rectangle-7-92" ></div>
      <img class="logo-2-icon2" alt="" src="{% static 'images/logo.png'%}"/>

      <img
        class="microsoft-excel-icon1"
        alt=""
        src="{% static 'images/Microsoft Excel.png'%}"
      />
    </div>
  </body>
  <script>
    const chooseFileInput = document.querySelector('.choose-file-button');
   const chooseFileLabel = document.querySelector('.choose-file-label');
   
   chooseFileInput.addEventListener('change', () => {
     if (chooseFileInput.files.length > 0) {
       chooseFileLabel.dataset.fileName = chooseFileInput.files[0].name;
       chooseFileLabel.textContent = chooseFileInput.files[0].name;
       chooseFileInput.classList.remove('invalid');
       chooseFileInput.classList.add('valid');
     } else {
       chooseFileLabel.dataset.fileName = '';
       chooseFileLabel.textContent = 'Choisir fichier';
       chooseFileInput.classList.remove('valid');
       chooseFileInput.classList.add('invalid');
     }
   });
     </script>
</html>
