{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

    <link rel="stylesheet" href="{% static 'css/newglobal.css' %}" />
    <link rel="stylesheet" href="{% static 'css/traitement_annuel.css'%}"  />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap"
    />
  </head>
  <body>
    <div class="div_global">
      <img class="background" alt="" src="{% static 'images/finale_img.png'%}"/>

      <div class="div1">
        <div class="div2">

          <a class="trait1" style="color:white;" href="traitement_mansuel">
            <img
              class="trait2"
              alt=""
              src="{% static 'images/traitement-de-linformation (1).png'%}"
            />

            <div class="trait3">Traitement Mansuelle</div>
          </a>
          <a class="trait_p1"style="color:white;" href="traitement_p1">
            <div class="affiche1">
              <p class="affiche2">Affichage Bilan</p>
              <p class="affiche2">par périmetre</p>
            </div>
            <img class="affiche3" alt="" src="{% static 'images/bilan.png'%}" />
           </a>
          <a class="atraitm_annuel" href="traitement_annuel">
            <div class="affichage-ann">Affichage Annuel</div>
            <img
              class="traitm_annuel1"
              alt=""
              src="{% static 'images/traitement-de-linformation.png'%}"
            />
          </a>
          <a class="dash5" href="dashboard">
            <div class="dash1">Dashboard</div>
            <img
              class="dash2"
              alt=""
              src="{% static 'images/tabelu de bord.png'%}" 
            />
          </a>
          <b class="menu">Menu</b>
          <div class="div3"></div>

          <div class="div4"></div>
        </div>
      </div>
      <a class="acceuil" href="login">
        <b class="deconnecte">se déconnecter</b>
      </a>
      <div class="div5" ></div>
      <div class="div6">
        <table class="tableau">
          <thead>
              {% if somme_attributs_par_region %}
                  <tr class="ligne">
                      <th><a href="#">Région</a></th>
                      <th><a href="#">Stock initial</a></th>
                      <th><a href="#">Apport de consommation interne</a></th>
                      <th><a href="#">Production</a></th>
                      <th><a href="#">Consommation</a></th>
                      <th><a href="#">Prélevé</a></th>
                      <th><a href="#">Pertes</a></th>
                      <th><a href="#">Expédition vers TRC</a></th>
                      <th><a href="#">Livraison</a></th>
                      <th><a href="#">Expédition vers TRC en m3</a></th>
                      <th><a href="#">Stock final</a></th>
                  </tr>
              {% endif %}
          </thead>
          <tbody>
              {% for region, attributs in somme_attributs_par_region.items %}
                  <tr class="donnee">
                      <td>{{ region.nom }}</td>
                      <td>{{ attributs.somme_stock_ini }}</td>
                      <td>{{ attributs.somme_apport_consommation }}</td>
                      <td>{{ attributs.somme_produit }}</td>
                      <td>{{ attributs.somme_consomme }}</td>
                      <td>{{ attributs.somme_preleve }}</td>
                      <td>{{ attributs.somme_pertes }}</td>
                      <td>{{ attributs.somme_expedie }}</td>
                      <td>{{ attributs.somme_laivraison }}</td>
                      <td>{{ attributs.somme_exp_trc }}</td>
                      <td>{{ attributs.somme_stock_final }}</td>
                  </tr>
              {% endfor %}
          </tbody>
      </table>     
      </div>
      <div class="div7">
        <form id="excelForm" method="post" action="{% url 'application:generate_excel_annuele' %}" >
          {% csrf_token %}
          <input type="hidden" name="annee" id="excel_annee" value="{{ annee }}">
          <button type="submit" class="btnexcel">EXCEL</button>
        </form>
        <img class="icon-pdf" alt="" src="{% static 'images/icon-excel .png' %}" />
        <form id="pdfForm" action="{% url 'application:generate_pdf_annuel' %}" method="post">
          {% csrf_token %}
          <input type="hidden" name="annee" id="pdf_annee" value="{{ annee }}">
          <button type="submit" class="btnpdf">PDF</button>
        </form>
        <img class="icon-excel" alt="" src="{% static 'images/icon-pdf 1.png'%}" />
      </div>
      </div>
      <div class="div8">
        <form class="form1" method="post" action="{% url 'application:tableau_regions_annuel' %}">
        {% csrf_token %}
          <select class="select1" name="annee">
               <option class="anne11" value="">Année</option>
               <option value="2021" class="option">2021</option>
               <option value="2022" class="option">2022</option>
               <option value="2023" class="option">2023</option>
               <option value="2024" class="option">2024</option>
          </select>
          <button type="submit" class="button" id="submitBtn">
            <i class="fa-solid fa-check" style="color: gray;"></i>  
          </button>
        </form>
      </div>
      <a href="acceuil">
        <img class="logo" alt="Description de l'image" src="{% static 'images/logo.png' %}">
      </a>
    </div>
    <script>
      document.addEventListener('DOMContentLoaded', function() { 
    const anneeSelect = document.querySelector('.form1 select[name="annee"]');
    const storedAnnee = sessionStorage.getItem('selectedAnnee'); 
    if (storedAnnee) {
        anneeSelect.value = storedAnnee; 
    }
    anneeSelect.addEventListener('change', function() {
        sessionStorage.setItem('selectedAnnee', this.value);
    });
});
      
document.getElementById('excelForm').addEventListener('submit', function(event) {
    const anneeInput = document.getElementById('excel_annee');
    if (!anneeInput.value) { 
        event.preventDefault();
        alert("Veuillez sélectionner l'année pour afficher le bilan à l'écran avant de télécharger le fichier Excel");
    }
});
document.getElementById('pdfForm').addEventListener('submit', function(event) {
    const anneeInput = document.getElementById('pdf_annee');
    if (!anneeInput.value) { 
        event.preventDefault();
        alert("Veuillez sélectionner l'année pour afficher le bilan à l'écran avant de générer le PDF");
    }
});
document.querySelector('.form1').addEventListener('submit', function(event) {
    const anneeSelect = document.querySelector('.form1 select[name="annee"]');
    if (anneeSelect.value === "") {
        event.preventDefault();
        alert("Veuillez sélectionner l'année.");
    }
});
    </script>
  </body>
</html>
