{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{% static 'css/newglobal.css' %}" />
    <link rel="stylesheet" href="{% static 'css/traitement_p1.css'%}"  />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap"
    />
  </head>
  <style>
    .table-region {
  width: 100%;
  border-collapse: collapse;
}
.table-region th,
.table-region td {
    border: 1px solid #ddd;
    padding: 6px; 
    font-size: 12px; 
}

.table-region th {
  background-color: #ffc04d;
}

.table-region th a {
    text-decoration: none;
    color: #000;
}

.table-region th a:hover {
    color: blue;
}
.header-row {
    background-color: #ffc04d; 
}
.table-region th:not(:first-child),
.table-region td {
    background-color: rgba(240, 240, 240, 0.3); 
}
  </style>
  <body>
    <div class="page-p1">
      <img class="group-28-13" alt="" src="{% static 'images/finale_img.png'%}" />

      <div class="page-p1-inner">
        <div class="vector-parent16">

          <a class="traitement-de-linformation-2-parent6" style="color:white;" href="traitement_mansuel">
            <img
              class="traitement-de-linformation-2-icon9"
              alt=""
              src="{% static 'images/traitement-de-linformation (1).png'%}"
            />

            <div class="traitement-mansuelle8">Traitement Mansuelle</div>
          </a>
          <a class="affichage-bilan-par-primetre-parent3" style="color:white;" href="traitement_p1">
            <div class="affichage-bilan-par-container5">
              <p class="affichage-bilan5">Affichage Bilan</p>
              <p class="affichage-bilan5">par périmetre</p>
            </div>
            <img class="bilan-2-icon9" alt="" src="{% static 'images/bilan.png'%}" />
        </a>
          <a class="affichage-annuel-parent18"  href="traitement_annuel">
            <div class="affichage-annuel25">Affichage Annuel</div>
            <img
              class="traitement-de-linformation-1-icon17"
              alt=""
              src="{% static 'images/traitement-de-linformation.png'%}"
            />
          </a>
          <a class="dashboard-parent15"  href="">
            <div class="dashboard21">Dashboard</div>
            <img
              class="tabelu-de-bord-211"
              alt=""
              src="{% static 'images/tabelu de bord.png'%}" 
            />
          </a>
          <b class="menu29">Menu</b>
          <div class="frame-child44"></div>

          <div class="frame-child45"></div>
        </div>
      </div>
      <a class="acceuil26" href="acceuil">
        <b class="retour9">Retour</b>
      </a>
      <div class="rectangle-7-94" ></div>

      <div class="page-p1-child"></div>
      <div class="page-p1-item">
        <table class="table-region">
          <thead>
              {% if somme_attributs_par_region %}
                  <tr class="header-row">
                      <th><a href="#">Région</a></th>
                      <th><a href="#">Stock initial</a></th>
                      <th><a href="#">Apport de consommation interne</a></th>
                      <th><a href="#">Production</a></th>
                      <th><a href="#">Consommation</a></th>
                      <th><a href="#">Prélevé</a></th>
                      <th><a href="#">Pertes</a></th>
                      <th><a href="#">Expédition vers TRC</a></th>
                      <th><a href="#">Livraison</a></th>
                      <th><a href="#">Expédition vers TRC en m3</a></th>
                      <th><a href="#">Stock final</a></th>
                  </tr>
              {% endif %}
          </thead>
          <tbody>
              {% for region, attributs in somme_attributs_par_region.items %}
                  <tr class="data-row">
                      <td>{{ region.nom }}</td>
                      <td>{{ attributs.somme_stock_ini }}</td>
                      <td>{{ attributs.somme_apport_consommation }}</td>
                      <td>{{ attributs.somme_produit }}</td>
                      <td>{{ attributs.somme_consomme }}</td>
                      <td>{{ attributs.somme_preleve }}</td>
                      <td>{{ attributs.somme_pertes }}</td>
                      <td>{{ attributs.somme_expedie }}</td>
                      <td>{{ attributs.somme_laivraison }}</td>
                      <td>{{ attributs.somme_exp_trc }}</td>
                      <td>{{ attributs.somme_stock_final }}</td>
                  </tr>
              {% endfor %}
          </tbody>
      </table>     
    </div>
      <div class="vector-parent17">
        <form id="excelForm" action="{% url 'application:generate_excel' %}" method="post">
          {% csrf_token %}
          <input type="hidden" name="annee" id="excel_annee" value="{{ annee }}">
          <input type="hidden" name="mois" id="excel_mois" value="{{ mois }}">
          <button type="submit" class="group-child24">EXCEL</button>
        </form>
        <img class="icon-pdf-16" alt="" src="{% static 'images/icon-excel .png' %}" />
        <form id="pdfForm" action="{% url 'application:generate_pdf' %}" method="post">
          {% csrf_token %}
          <input type="hidden" name="annee" id="pdf_annee" value="{{ annee }}">
          <input type="hidden" name="mois" id="pdf_mois" value="{{ mois }}">
          <button type="submit" class="group-child25">PDF</button>
        </form>
        <img class="icon-excel-16" alt="" src="{% static 'images/icon-pdf 1.png'%}" />
      </div>
      <div class="page-p1-inner1">
        <form class="rectangle-parent2" method="post" action="{% url 'application:tableau_regions' %}">
          {% csrf_token %}
          <select class="frame-child46" name="annee" id="annee-select">
              <option class="anne11" value="">Année</option>
              <option value="2022" class="option">2022</option>
              <option value="2023" class="option">2023</option>
              <option value="2024" class="option">2024</option>
          </select>
          <select class="frame-child47" name="mois" id="mois-select"> <!-- Ajoutez l'attribut name pour le mois -->
              <option class="mois3" value="">Mois</option>
              <option value="janvier" class="option">janvier</option>
              <option value="fevrier" class="option">février</option>
              <option value="mars" class="option">Mars</option>
              <option value="avril" class="option">avril</option>
              <option value="mai" class="option">mai</option>
              <option value="juin" class="option">juin</option>
              <option value="juillet" class="option">juillet</option>
              <option value="aout" class="option">aout</option>
              <option value="septembre" class="option">septembre</option>
              <option value="octobre" class="option">octobre</option>
              <option value="novembre" class="option">novembre</option>
              <option value="decembre" class="option">decembre</option>
          </select>
          <button type="submit" class="frame-child48">Submit</button>
      </form>
      </div>
      <img class="logo-3-icon" alt="" src="{% static 'images/logo.png'%}" />
    </div>
    <script>
     document.addEventListener("DOMContentLoaded", function() {
    // Récupérer les éléments de sélection par leur attribut name
    var anneeSelect = document.querySelector('select[name="annee"]');
    var moisSelect = document.querySelector('select[name="mois"]');

    // Restaurer les valeurs sélectionnées dans le stockage local
    var selectedAnnee = localStorage.getItem('selectedAnnee');
    var selectedMois = localStorage.getItem('selectedMois');

    // Restaurer les valeurs sélectionnées dans les menus déroulants
    if (selectedAnnee) {
        anneeSelect.value = selectedAnnee;
    }
    if (selectedMois) {
        moisSelect.value = selectedMois;
    }

    // Ajouter des gestionnaires d'événements pour enregistrer les valeurs sélectionnées dans le stockage local
    anneeSelect.addEventListener('change', function() {
        localStorage.setItem('selectedAnnee', anneeSelect.value);
    });
    moisSelect.addEventListener('change', function() {
        localStorage.setItem('selectedMois', moisSelect.value);
    });

    // Ajouter un gestionnaire d'événements pour enregistrer les valeurs sélectionnées dans le stockage local
    // avant la soumission du formulaire
    document.querySelector('form').addEventListener('submit', function() {
        localStorage.setItem('selectedAnnee', anneeSelect.value);
        localStorage.setItem('selectedMois', moisSelect.value);
    });
});
  </script>
  </body>
</html>
